.aboutus {
    width: 100%;
    padding: 3rem 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
  }
  .aboutusinfo {
    padding: 2rem 5rem;
    text-align: center;
  }
  .aboutus .img {
    flex: 1;
    position: relative;
  }
  .bg {
    width: 100%;
    height: 100%;
    background-color: skyblue;
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: -1;
    border-radius: 10px;
    
  }
  .aboutus .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  .aboutus .abouttext {
    flex: 1;
  }

  /* Media queries for phone */
  @media screen and (max-width:768px) {

  }