/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 versions
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 versions
*/

.contact {
  width: 100%;
  min-height: 80vh;
  padding: 3rem 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5rem;
}

.banner h1 {
  color: white;
}

.contactform,
.contactInfo {
  width: 50%;
}

.checkArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5rem
}

.contactform input[type=text],
.contactform input[type=email],
.contactform textarea {
  width: 100%;
}

.contactform input[type=checkbox] {
  height: 1.2rem;
  width: 1.2rem;
}

.contactform input {
  height: 2rem;
  margin-bottom: .8rem;
  padding: .5rem;
}

.contactform form div .checkArea label {
  margin-bottom: .8rem;
}

.contactform form textarea {
  height: 5rem;
  padding: .5rem;
}


.submitBtn {
  width: 30%;
  padding: .5rem;
  background-color: #d9d9d9;
  border: none;
  margin-top: 1rem;
  cursor: pointer;
  border-radius: 50px;
}

.contactInfo h1 {
  margin-bottom: 2rem;
}

.thanksPopup{
  width: 500px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #d9d9d9;
  padding: 2rem;
  box-shadow: 0 0 50px rgba(0, 0, 0, .4);
  border-radius: 10px;
}

.thanksPopup.active {
  display: block;
}

.thanksPopup.hidden {
  display: none;
}

.thanksPopupWrapper{
  position: relative;
  width: 100%;
  height: 100%;
}
.thanksPopupText {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
}

.closeIcon{
  position: absolute;
  top: 0;
  right: 0;
  color: red;
  cursor: pointer;
}

/* Media queries for phone */
@media screen and (max-width:768px) {
  .contact {
    padding: 2rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact .contactform {
    width: 100%;
  }
  .submitBtn {
    width: 100%;
  }
  .contactInfo {
    width: 100%;
  }
  .thanksPopup{
    padding: 1rem;
    width: 100%;
    height: 80%;
  }
  
}