/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 versions
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 versions
*/
.industrysummary {
  width: 100%;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5rem;
  text-align: center;
  padding: 2rem 0;
}
.industrysummary p{
  padding: 3rem 5rem;
}

.banner h1 {
  color: white;
}

.industry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.industry .industry-card {
  border: 1px solid #d9d9d9;
  -webkit-box-shadow: 0 0 50px #d9d9d9;
          box-shadow: 0 0 50px #d9d9d9;
  width: 40%;
  height: auto;
  padding: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: .5rem;
}

.industry .industry-card:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.industry .industry-card h1 {
  margin-bottom: 1rem;
}

.dataVisualization {
  padding: 3rem 5rem;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dataVisualization h2 {
  margin-bottom: 2rem;
}

/* Charts */
.chartjs {
  height: 500px;
  width: 500px;
  position: relative;
}

.extendedChartInfo{
  width: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 30px rgba(0, 0, 0, .6);
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 30px;
}

.extendedChartInfo.hidden{
  display: none;
}
.extendedChartInfo.active{
  display: block;
}

.closeIcon{
  color: red;
  cursor: pointer;
}

.chartDesc{
  padding: 1rem 0;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

/* Media queries for phone */
@media screen and (max-width:768px) {
  .industrysummary {
  padding: 2rem;
  } 
  .industry {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 3rem 2rem;
  }
  .industrysummary p {
    text-align: center;
  }
  .industry .industry-card {
    width: 100%;
  }
  .industry .industry-card h1 {
    font-size: 1.5rem;
  }
  .dataVisualization{
    flex-direction: column;
    gap: 2rem;
  }
  .dataVisualization h2 {
    width: 100%;
    text-align: center;
    font-size: 24px;
  }
}