/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 versions
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 versions
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

ul li {
  list-style: none;
}

.center {
  margin: auto auto;
}

/* common banner design */
.banner {
  margin-top: 55px;
  width: 100%;
  height: 150px;
  position: relative
}

.banner img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
     opacity: 0.6;
}

.banner h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 3rem;
  text-align: center
}

/* nav bar styles */
nav {
  width: 100%;
  padding: 10px 40px;
  background-color: #d9d9d9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

nav .logo img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

nav .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

nav .links a:hover {
  color: blue;
}

/* hamburger nav */
nav .sidemenu {
  display: none;
  width: 24px;
  height: 24px;
  cursor: pointer;
  position: relative;
}

nav .hamicon {
  position: absolute;
  top: 50%;
  right: 40px;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  display: none;
}

nav .ham-line {
  background-color: black;
  display: block;
  position: relative;
  height: 2px;
  width: 24px;
}

.ham-line::after,
.ham-line::before {
  position: absolute;
  content: "";
  background-color: black;
  display: block;
  width: 100%;
  height: 100%;
}

.ham-line::before {
  top: 5px;
}

.ham-line::after {
  top: -5px;
}

.mobilemenu {
  display: none;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  height: auto;
  padding: 20px;
  text-align: center;
}

.sidemenu:checked~.mobilemenu {
  display: block;
}

/* hero style */
.hero {
  width: 100%;
  height: 250px;
  position: relative;
  margin-top: 60px;
}

.hero video {
  max-height: 250px;
  min-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 2.5rem;
  color: white;
  opacity: .8;

}

/* get in touch styles */
.getintouch {
  margin-top: 80px;
}

.getintouch .getintouchpic {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}

.getintouch .getintouchpic img {

  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: brightness(.5);
          filter: brightness(.5);
  padding: 0px 40px;
}

.getintouch .getintouchpic .get-in-touch {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.audiomaintext {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.audio {
  margin-top: 20px;
  width: 100%;
}

.audio.get {
  width: 30%;
}

audio {
  height: 35px;
  width: 100%;
}

.getintouch .getintouchpic .get-in-touch p {
  width: 70%;
  font-size: 1.4rem;
}

.getintouch .getintouchpic .get-in-touch a {
  padding: .5rem 2rem;
  border-radius: 50px;
  border: 1px solid #d9d9d9;
  outline: none;
  cursor: pointer;
  background-color: white;
}

.getintouch .getintouchpic .get-in-touch a:hover {
  background-color: white;
}

/* info section */

.info {
  padding: 40px;
}

.info .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.info .cards .card:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.info .cards .card {
  -webkit-box-flex: 1;
  -ms-flex: 1;
      flex: 1;
  height: 100%;
  border: 1px solid #d9d9d9;
  -webkit-box-shadow: 0 0 50px #d9d9d9;
          box-shadow: 0 0 50px #d9d9d9;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.info .cards .card .cardtext h3 {
  margin-bottom: 10px;
}

/* Personal note section */
.personal {
  padding: 10px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.personal-card {
  border: 1px solid #d9d9d9;
  -webkit-box-shadow: 0 0 50px #d9d9d9;
          box-shadow: 0 0 50px #d9d9d9;
  width: 100%;
  padding: 40px;
  text-align: center;
}

/* Global footer styles  */
footer {
  background-color: #d9d9d9;
  padding: .8rem 0;
  text-align: center;
}

footer .footerlinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

footer .footerlinks a:hover {
  color: blue;
}

/* Media queries for phone */
@media screen and (max-width:768px) {
  .audio.get {
    width: 100%;
  }
  nav .logo img {
    width: 20px;
    height: 20px;
  }

  nav .ham {
    display: block;
  }

  nav .links,
  nav .contactlink {
    display: none;
  }

  nav .hamicon {
    display: block;
  }

  .sidemenu:checked~.mobilemenu {
    display: block;
    background-color: white;
  }

  .mobilemenulinks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }

  .hero video {
    max-width: 100%;
  }

  .hero h1 {
    font-size: 1.5rem;
    text-align: center;
  }

  .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .get-in-touch {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
.getintouch .getintouchpic {
  height: 250px;
}
  .getintouch .getintouchpic img {
    padding: 0 20px;
  }
.audio {
  margin-top: 0;
}
  audio {
    width: 100%;
    height: 30px;
  }
  .getintouch .getintouchpic .get-in-touch p {
    font-size: .8rem;
    width: 100%;
    padding: 10px;
    text-align: center;
  }

  .getintouch .getintouchpic .get-in-touch a {
    padding: .2rem 1rem;
    font-size: .8rem;
  }

  .personal-card {
    padding: 20px;
  }

  .footerlinks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

}