main {
    width: 100%;
    padding: 3rem 5rem;
}

.managementText{
    margin-bottom: 2rem;
}
.managementText p{
    text-align: center;

}

.richard{
    margin-bottom: 5rem;
}

.richard,
.samantha {
    display: flex;
    
    gap: 2rem;
}
.richard .content{
    flex: 1;
    padding: 1rem;
    background: white;
}
.richard .content p{
    margin-bottom: .5rem;
}
.richard .content ul{
    margin: 1rem 0 1rem 1rem;
}
.richard .content ul li{
    list-style: disc;
}
.richard #image{
    width: 600px;
}

.richard #image img{
    width: 100%;
    object-fit: cover;
}


@media screen and (max-width:1024px) {
    .richard {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .richard h2 {
        text-align: center;
    }
    .richard #image{
        width: 40%;
    }
}


@media screen and (max-width:768px) {
    main{
        padding: 2rem 1rem;
    }
    .richard {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .richard h2 {
        text-align: center;
    }
    .samantha{
        flex-direction: column;
    }
    .content {
        width: 100%;
    }

    .richard #image{
        width: 80%;
    }

}