/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 versions
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 versions
*/

.servicesummary {
  width: 100%;
  padding: 3rem 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5rem;
  text-align: center;
}


.banner h1 {
  color: white;
}

.servicesummarytext {
  padding: 3rem 5rem;
}

.servicesummarytext p {
  text-align: center;
}
.servicegrid {
  width: 100%;
  padding: 3rem 5rem;
}


.grid1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center
}

.productinfo-card {
  margin-top: 2rem;
}

.video,
.list {
  width: 50%;
}


.grid1 .video {
  height: 300px;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end
}

.grid1 video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}


.list {
  margin-left: 3rem;
}

.list h2 {
  margin-bottom: 1rem;
}

.grid2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3rem;
}

.grid2 .text,
.grid2 .image {
  width: 50%;
}

.grid2 .image {
  height: 300px;
}

.grid2 .image img {
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
}

.grid2 .text {
  text-align: right;
  margin-right: 3rem;
}

.grid2 .text h2 {
  margin-bottom: 1rem;
}

.servicemarketing{
  margin-top: 5rem;
}

/* Media queries for phone */
@media screen and (max-width:768px) {
  .servicesummary {
    padding: 2rem;
  }

  .servicegrid {
    padding: 2rem;
  }

  .grid1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .grid1 .video {
    width: 100%;
    height: auto;
  }

  .grid1 .list {
    width: 100%;
    margin-left: 0;
    text-align: center;
  }

  .grid2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .grid2 .image {
    width: 100%;
    height: auto;
  }

  .grid2 .image img {
    width: 100%;
    height: auto;
  }

  .grid2 .text {
    width: 100%;
    margin-right: 0;
    text-align: center;
  }
}