.slide {
    margin-top: 5rem;
    width: 100%;
    padding: 2rem 3rem;
    height: 550px !important;
    background: #d9d9d9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.slide .sliderStaticContent h2 {
    width: 70%;
    font-size: 2rem !important;
}

.slide .sliderStaticContent h2 span{
    color: blue;
}
.slide .sliderStaticContent p{
    width: 60%;
    padding: 1rem 0;
    color: black;
}

.slide .sliderStaticContent .findmoreBtn{
    border: 1px solid black;
    background: none;
    padding: .5rem 1.5rem;
}
.slide .sliderStaticContent .findmoreBtn a {
    color: black;
}
.swiper {
    height: 100%;
    padding: 0 30px 0 0 !important;
    width: 500px;
}
.swiper-slide {
    display: flex !important;
    justify-content: start;
    align-items: center;
    margin-bottom: 0;
    color: white;
    padding: 1rem;
}

.swiper-slide.swiper-slide-active{
    height: auto;
    background: lightblue;
    border-radius: 10px;
    font-weight: bolder;
    color: black;
    padding: .5rem;

}

@media screen and (max-width: 768px) {
    .slide {
        padding: 1rem;
        min-height: 100%;
        flex-direction: column;
        gap: 2rem;
        max-width: 100vw;
    }
    .slide .sliderStaticContent h2{
        width: 100%;
        font-size: 1rem !important;
    }
    .slide .sliderStaticContent p{
        width: 100%;
    }
    .swiper{
        width: 100%;
    }

    .swiper-slide.swiper-slide-visible.swiper-slide-fully-visible.swiper-slide-active{
        padding: 1rem;
        font-size: .8rem;
    }
}