/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 versions
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 versions
*/

main {
    margin-top: 60px;
    padding: 2.5rem 5rem;
}

/* Media queries for phone */
@media screen and (max-width:768px) {
.main {
    padding: 2rem;
}
}