@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

ul li {
  list-style: none;
}

/* common banner design */
.banner {
    width: 100%;
    height: 150px;
    position: relative
  }
  
  .banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.4;
  }
  
  .banner h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    text-align: center
  }

/* nav bar styles */
nav {
  width: 100%;  
  padding: 10px 40px;
    background-color: #d9d9d9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
  }
  
  nav .logo {
    height: 40px;
    width: 40px;
  }
  
  nav .logo img {
    width: 100%;
    object-fit: cover;
  }
  
  nav .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }
  
  nav .links a:hover {
    color: blue;
  }
  
  nav .search {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  nav .search .seach-icon {
    height: 20px;
    width: 20px;
  }
  
  nav .search .seach-icon img {
    width: 100%;
  }
  
  nav .search .lang {
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    gap: 6px;
  }
  
  nav .search .lang img {
    width: 100%;
  }

  /* hero style */
  .hero {
    width: 100%;
    height: 200px;
    position: relative;
    margin-top: 60px;
  }
  
  .hero video {
    max-height: 250px;
    min-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
  }

  /* get in touch styles */
  .getintouch {
    margin-top: 80px;
  }
  
  .getintouch .getintouchpic {
    width: 100%;
    height: 150px;
    object-fit: cover;
    position: relative;
  
  }
  
  .getintouch .getintouchpic img {
  
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(.5);
    padding: 0px 40px;
  }
  
  .getintouch .getintouchpic .get-in-touch {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
  }
  
  .getintouch .getintouchpic .get-in-touch p {
    width: 70%;
    font-size: 1.4rem;
  }
  
  .getintouch .getintouchpic .get-in-touch button {
    padding: .5rem 2rem;
    border-radius: 50px;
    border: 1px solid #d9d9d9;
    outline: none;
    cursor: pointer;
  }
  
  /* info section */
  
.info {
    padding: 40px;
  }
  
  .info .cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
  
  .info .cards a .card:hover {
    transform: scale(1.1);
    transition: .3s;
  
  }
  
  .info .cards a .card {
    border: 1px solid #d9d9d9;
    box-shadow: 0 0 50px #d9d9d9;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  
  .info .cards a .card .cardtext h3 {
    margin-bottom: 10px;
  }
  
  /* Personal note section */
  .personal {
    padding: 10px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .personal-card {
    border: 1px solid #d9d9d9;
    box-shadow: 0 0 50px #d9d9d9;
    width: 100%;
    height: 100px;
    padding: 20%;
    text-align: center;
  }

  /* aboutusccs testing */
  .aboutus {
    width: 100%;
    padding: 3rem 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
  }
  .aboutusinfo {
    padding: 2rem 5rem;
    text-align: center;
  }
  .aboutus .img {
    flex: 1;
    position: relative;
  }
  .bg {
    width: 100%;
    height: 100%;
    background-color: skyblue;
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: -1;
    border-radius: 10px;
    
  }
  .aboutus .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  .aboutus .abouttext {
    flex: 1;
  }

  /* Global footer styles  */
  footer {
    background-color: #d9d9d9;
    padding: .8rem 0;
    text-align: center;
  }
  footer .footerlinks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  footer .footerlinks a:hover {
    color: blue;
  }